<div class="row">
  <div class="container">

    <% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>

    <h1>All Articles</h1>
    <hr>
    <ul class="list-unstyled" id="articles">
      <% @articles.each do |article| %>
      <li>
        <h2><%= link_to article.title, article_path(article), class: "article_title small", id: "article_#{article.id}" %></h2>
      </li>
      <% end %>
    </ul>
    <hr>
    <%= link_to "Write a New Article", new_article_path, class: "new_article btn btn-info" %>
  </div>
</div>
