<div class="row">
  <div class="container">

    <h1><%= @article.title %></h1>
    <p><%= @article.body %></p>
    <hr>
    <%= link_to "<<Back to Articles List", articles_path, class: "btn btn-info" %>

  </div>
</div>
